doctype html
html
  head
    title Members Only Message Board
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 Members Only Message Board

      ul 
      li
        a(href='/home/messages') All Messages
      if user
        li #{user.username}
        li 
          a(href='/home/logout') Sign-Out
        li 
          a(href='/home/messages') Become A Member
        if user.member 
          li 
            a(href='/home/message/create') New Message
        else
          li 
            a(href='/home/message/create') New Messages
      else 
        li 
          a(href='/home/login') Log-In
        li 
          a(href='/home/user/create') Create Account
    block content
