doctype html
html
  head
    title Members Only Message Board
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 Members Only Message Board

      ul 
      li Messages
      if user
        li Sign-Out
      else 
        li Log-In
    block content
